<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AlbAlbCar</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../static/css/admin-style.css" th:href="@{/css/admin-style.css}">
    <link rel="stylesheet" href="http://inzynierka.ct8.pl/css/datepicker.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
    <a class="navbar-brand ml-3 ml-md-5" href="admin-rides"><div class="car">🚗</div>Administrator</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-center" href="admin-rides">Przejazdy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="admin-users">Uzytkownicy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="endpoints/logout">Wyloguj (login123)</a>
            </li>
        </ul>
    </div>
</nav>

<main class="container py-5">
<form action="endpoints/ride-search" class="mb-5">
    <p class="mt-2 mb-0 text-center">Szukaj po loginie kierowcy</p>
    <input type="text" class="form-control" name="login" />
    <input type="submit" class="btn btn-dark mt-2 mx-auto d-flex" value="Szukaj">
</form>
<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Kierowca</td>
            <td>Data wyjazdu</td>
            <td>Trasa</td>
            <td>Pasażerowie</td>
            <td>Akcje</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>login123</td>
            <td>2019-10-11 12:00:00</td>
            <td>Wrocław - Warszawa</td>
            <td>login1234</td>
            <td><a href="">Usuń</a></td>
        </tr>
    </tbody>
</table>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<script src="http://inzynierka.ct8.pl/js/datepicker.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{js/script.js}"></script>

<footer class="bg-dark">
<p class="text-light py-4 text-center mb-0">&copy; AlbAlbCar</p>
</footer>
</body>
</html>
